WL_FOLDER=/Users/dimitar/vm/www/wl

# Create a new directory and enter it
function md() {
	mkdir -p "$@" && cd "$@"
}


# Copy w/ progress
cp_p () {
  rsync -WavP --human-readable --progress $1 $2
}


# grep files for specific filetype
# usage: g *.js someText
# usage: g wl.js toggle
function fg() {
    grep --include=$1 --color=auto -r $2 .
}

#make whiteLabel project
function wlmk() {
	cd $WL_FOLDER/

	git clone -b $1 dsiljanovski@dev.intvou.com:/mnt/git/repos/wl_app $1
    cd $1 && cp config/config.json.template config/config.json

	s $WL_FOLDER
}

# updating the WLs
# going trough every folder and doing git pull
function updateWls() {
    for FOLDER in $(ls $WL_FOLDER); do
        if [ -d "$FOLDER" ]; then
            echo $FOLDER
            #cd $WL_FOLDER/${D} && g pull
        fi
    done
}


#enter wl folder
function cdwl() {
    cd $WL_FOLDER/$1
}


#run Cuponation Sandbox
function rsbcup() {
    newfolder=~/www/cuponation/$1
    echo "adding application.log file"
    touch $newfolder/data/application.log

    sudo chmod -Rf 777 $newfolder/data

    echo "\n \n moving .ini.template to .ini configuration file"
    sudo cp $newfolder/configs/application.ini.template $newfolder/configs/application.ini

    echo "\n linking images"
    mkdir $newfolder/frontend/public/images

    echo "'n make branch default on server"
    rm -rf ~/www/cuponation/intvou
    cd $newfolder
    ln -s $newfolder ~/www/cuponation/intvou

    echo "\n DB Update"
    sudo sh $newfolder/cli/dbupdate.sh

    echo "\n Image migration"
    sudo sh $newfolder/cli/migimages.sh

    #echo "Starting SOLR"
    #sudo sh $newfolder/bin/solr.start

    #echo "Importing SOLR vouchers"
    #php $newfolder/cli/index.php --module=cli --controller=solr --action=import-vouchers $@

    #sudo sh $newfolder/bin/solr.import.vouchers

}



